services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "${APP_PORT:-8000}:8000"
    command: ["python", "src/main.py", "--host", "0.0.0.0", "--port", "8000"]
    depends_on:
      - qdrant
    # restart: unless-stopped

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    # restart: unless-stopped

volumes:
  qdrant_storage:

